html, body {
    height:100%;
    margin:0px;
}
#div1 {
    background-color: olive;
    width: 20%;
    height: 100vh;
    display: table-cell;
}
#div2 {
    background-color: aquamarine;
    width: 20%;
    height: 100vh;
    display: table-cell;
}
#div3 {
    background-color: brown;
    width: 20%;
    height: 100vh;
    display: table-cell;
}
#div4 {
    background-color: yellow;
    width: 20%;
    height: 100vh;
    display: table-cell;
}
#div5 {
    background-color: lavender;
    width: 20%;
    height: 100vh;
    display: table-cell;
}
button
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
    background: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}
.flipped
{
    color: red;
}